.purple{
    background-color: purple;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.blue{
    background-color: blue;
    padding: 20px;
    margin: 30px;
}
.yo{
    padding: 50;
    margin: 20;
    background-color: yellow;
}
.flex{
    display: flex;
}
.baixo{
    padding-bottom: 80px;
}


